.challenges_container {
    width: 80%;
    margin: 0 auto 3rem auto;

    &> h2 {
        font-size: 1.1rem;
        @media screen and (min-width : 768px) and (max-width : 1024px) {
            font-size: 1.35rem;
        }
    }

    .challenges {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem 20px;

        .challenge {
            width: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease;

            .challenge_img {
                width: 20rem;
                height: 15rem;
                border-radius: 10px;

                @media screen and (max-width: 900px) {
                    width: 100%;
                }
            }

            .challenge_title {
                margin-top: 5px;
                font-size: 1.28rem;
                font-weight: 550;

                @media screen and (max-width: 900px) {
                    font-size: 1.2rem;
                    margin-top: 15px;
                }
            }

            .challenges_links {
                display: flex;
                align-items: center;
                margin-top: 10px;

                .link {
                    color: var(--lightGray-color);
                    font-size: 1.2rem;
                    margin-right: 15px;
                }

                @media screen and (max-width: 900px) {
                    margin-top: 20px;
                }
            }

            &:hover {
                transform: scale(1.05);
            }

            @media screen and (max-width: 900px) {
                width: 100%;
                margin-left: 0;
                margin-bottom: 2rem;
                

                &:hover {
                    transform: none;
                }
            }

        }

        .challenge:first-child {
            margin-left: 0;
        }

        .challenge:nth-child(3) {
            position: relative;
            // right: 1rem;
        }

        @media screen and (max-width: 900px) {
            width: 100%;
            grid-template-columns: 1fr;
        }
        
    }

    @media screen and (max-width: 900px) {
        width: 100%;
        margin: 7rem 0 0 0;
    }
    
}