@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
    --font-base: "DM Sans", sans-serif;

    --background: #23252F;
    --primary-color: #edf2f8;
    --secondary-color: #75ccfc;
    --black-color: #030303;
    --lightGray-color: #e4e4e4;
    --gray-color: #859bc2;
    --menu-background: #031821;
    --white-color: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main_container {
    width: 90%;
    margin: 0 auto;
    /* background-color: red; */
}

 @media screen and (max-width: 900px) {
    .main_container {
        width: 90%;
    }
 }