.works_container {
    width: 80%;
    margin: 17rem auto 3rem auto;
    padding: 3rem 0;

    @media screen and (max-width: 900px) {
        width: 100%;
        margin-top: 3rem;
    }

}

.works {
    position: relative;
}

.work {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;

    h2 {
        color: var(--lightGray-color);
        font-weight: 550;
        margin-bottom: 10px;
        font-size: 1.5rem;

        @media screen and (max-width: 900px) {
            display: none;
        }

        @media screen and (min-width : 768px) and (max-width : 1024px) {
            display: none;
        }
    }

    p {
        color: #bbbaba;
        // padding: 2rem;
        font-size: 0.95rem;
        line-height: 1.5rem;

        @media screen and (max-width: 900px) {
            font-size: 1.05rem;
        }

        @media screen and (min-width : 768px) and (max-width : 1024px) {
            font-size: 1.25rem;
            line-height: 2rem;
        }
    }

    .stack {
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;


        p {
            margin-right: 15px;
            margin-top: 5px;
            font-weight: 550;

            @media screen and (max-width: 900px) {
                font-size: 0.95rem;
            }
            @media screen and (min-width : 768px) and (max-width : 1024px) {
                font-size: 1.2rem;
            }
        }
    }

    .project_links {
        margin-top: 20px;

        .icon {
            margin-right: 20px;
            font-size: 1.3rem;
        }
    }

    @media screen and (max-width: 900px) {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 3rem;
    }
}


.work_footer {
    .small_Screen {
        display: none;

        @media screen and (max-width: 900px) {
            display: block;
            color: var(--lightGray-color);
            font-weight: 550;
            margin-bottom: 20px;
            font-size: 1.5rem;
        }

            @media screen and (min-width : 768px) and (max-width : 1024px) {
                font-size: 1.8rem;
            }
    }

    .work_img {
        position: relative;
        transition: all 0.3s ease;

        .overlay {
            width: 100%;
            height: 98.5%;
            background-color: black;
            position: absolute;
            top: 0;
            right: -3.5rem;
            z-index: 5;
            opacity: 0.4;
            border-radius: 10px;

            @media screen and (max-width: 900px) {
                width: 100%;
                height: 98%;
                right: 0;
            }

            @media screen and (max-width : 968px) and (orientation: landscape) {
               height: 99%;
            }

            @media screen and (min-width : 768px) and (max-width : 1024px) {
                height: 99%;
            }
        }

        .project_img {
            width: 30rem;
            position: relative;
            right: -3.5rem;
            border-radius: 10px;

            @media screen and (max-width: 900px) {
                width: 100%;
                right: 0;
            }
        }

        &:hover .overlay {
            opacity: 0;
        }

        @media screen and (max-width: 900px) {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}





